spring:
  jpa:
    hibernate.ddl-auto: none
    properties:
      hibernate:
        jdbc.time_zone: UTC
        format_sql: true
    show-sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect
  sql.init.mode: always
  datasource:
    url: jdbc:postgresql://localhost:5432/commentdb
    driver-class-name: org.postgresql.Driver
    username: postgres
    password: postgres

logging:
  level:
    org.springframework:
      orm.jpa: INFO
      transaction: INFO
      transaction.interceptor: TRACE
      orm.jpa.JpaTransactionManager: DEBUG

stats:
  service:
    name: "comment-service"
    id: "stats-server"
  date_time.format: "yyyy-MM-dd HH:mm:ss"
