kafka:
  producer-properties:
    bootstrap.servers: localhost:9092
    key.serializer: org.apache.kafka.common.serialization.LongSerializer
    value.serializer: ru.practicum.GeneralAvroSerializer

  consumer-properties:
    bootstrap.servers: localhost:9092
    group.id: user-action-aggregator-group
    key.deserializer: org.apache.kafka.common.serialization.LongDeserializer
    value.deserializer: ru.practicum.UserActionDeserializer
    auto.offset.reset: earliest
    enable.auto.commit: false

  topics:
    USER_ACTION: stats.user-actions.v1
    EVENT_SIMILARITY: stats.events-similarity.v1

aggregator:
  user-action:
    weight:
      view: 0.4
      register: 0.8
      like: 1.0

logging:
  level:
    ru.practicum: DEBUG