grpc:
  server:
    port: 0

spring:
  kafka:
    bootstrap-servers: localhost:9092
  jpa:
    hibernate.ddl-auto: none
    properties:
      hibernate:
        jdbc.time_zone: UTC
        format_sql: true
    show-sql: true
  database-platform: org.hibernate.dialect.PostgreSQLDialect
  sql.init.mode: always
  datasource:
    url: jdbc:postgresql://localhost:5432/statsdb
    driver-class-name: org.postgresql.Driver
    username: postgres
    password: postgres

kafka:
  event_similarity-consumer-properties:
    bootstrap.servers: localhost:9092
    group.id: event_similarity-analyzer-group
    key.deserializer: org.apache.kafka.common.serialization.LongDeserializer
    value.deserializer: ru.practicum.EventSimilarityDeserializer
    auto.offset.reset: earliest
    enable.auto.commit: false

  user_action-consumer-properties:
    bootstrap.servers: localhost:9092
    group.id: user_action-analyzer-group
    key.deserializer: org.apache.kafka.common.serialization.LongDeserializer
    value.deserializer: ru.practicum.UserActionDeserializer
    auto.offset.reset: earliest
    enable.auto.commit: false

  topics:
    USER_ACTION: stats.user-actions.v1
    EVENT_SIMILARITY: stats.events-similarity.v1

logging:
  level:
    org.springframework:
      orm.jpa: INFO
      transaction: INFO
      transaction.interceptor: TRACE
      orm.jpa.JpaTransactionManager: DEBUG
    ru.practicum: DEBUG